body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container {
    width: 800px;
    height: 800px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 0;
}